# 核心科学计算
numpy==1.26.4
scipy==1.12.0
pandas==2.2.1
sympy==1.12
bottleneck==1.3.8
numexpr==2.9.0
patsy==0.5.6
cloudpickle==3.0.0
dill==0.3.8
mlxtend==0.22.0
imbalanced-learn==0.10.1


# 并行计算和性能优化
dask==2024.2.1
numba==0.59.0
pandas-datareader==0.10.0

# 可视化
matplotlib==3.8.3
seaborn==0.13.2


# 机器学习基础
scikit-learn==1.2.2
scikit-image==0.22.0
statsmodels==0.14.1

# 机器学习扩展
lightgbm==4.3.0
xgboost==2.0.3
optuna==3.5.0
shap==0.44.1
scikit-optimize==0.9.0
yellowbrick==1.5

# 深度学习
tensorflow==2.15.0
keras==2.15.0
torch==2.2.1
torchvision==0.17.1
transformers==4.38.2

# 网络和图形分析
networkx==3.2.1

# 金融分析
tushare==1.2.89
yfinance==0.2.37
pyportfolioopt==1.5.5
ta-lib==0.4.28
quantstats==0.0.62

# 自然语言处理
nltk==3.8.1
spacy==3.7.4
gensim==4.3.2
beautifulsoup4==4.12.3



# 时间序列
prophet==1.1.5
pmdarima==2.0.4
arch==6.2.0

# 数据格式和处理
h5py==3.10.0
pyarrow==15.0.0
sqlalchemy==2.0.27
pymongo==4.6.1
python-snappy==0.6.1
fastparquet==2024.2.0
openpyxl==3.1.2
xlrd==2.0.1
cython==3.0.8



# 报表和仪表板
streamlit==1.31.1
dash==2.15.0
panel==1.3.8
voila==0.5.5





# 数据抓取和爬虫
scrapy==2.11.1











